text:list text:style-name="LFO3"
  - blocks.each_with_index do |block, index|
    text:list-item
      - if index < blocks.size - 1
        text:p text:style-name="Numbered_20_Bullet_20_5b_PACKT_5d_"
          =block.text
          - if block.blocks?
            =block.content
      - else
        text:p text:style-name="Numbered_20_Bullet_20_End_20_5b_PACKT_5d_"
          =block.text
          - if block.blocks?
            =block.content
