- target=@target
text:p text:style-name="imageblock" 
  draw:frame draw:style-name="imageblock" draw:name="image" text:anchor-type="paragraph" draw:z-index="1" svg:width=(attr :width) svg:height=(attr :height) 
    draw:image xlink:href=(attr :target) xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p
text:p text:style-name="Layout_20_Information_20__5b_PACKT_5d_" 
  ="[[Insert image "
  =(attr :target)
  ="]]"
