/ This one has the same problem when trying to fiddle with strong
- case @type
- when :emphasis
  text:span text:style="strong" data-style="emphasis"
    =text
- when :strong
  text:span text:style="strong" data-style="strong"
    =text
- when :monospaced
  text:span text:style-name="Code_20_In_20_Text_20__5b_PACKT_5d_"
    =text
- else
  text:span text:style="strong" data-style="else"
    =text
    
    
